<table class="table table-striped table-responsive">
  <tbody>
    <tr>
      <th>Code</th>
      <td>MAT1805300001</td>
    </tr>
    <tr>
      <th>Nama Bahan</th>
      <td>Bahan 1</td>
    </tr>
    <tr>
      <th>Motif</th>
      <td>Motif 1</td>
    </tr>
    <tr>
      <th>Stock</th>
      <td>100</td>
    </tr>
  </tbody>
</table>

<table class="table table-responsive">
  <tbody>
    <tr>
      <th>
        <p class="small">Created On: 30/05/2018 11:30</p>
      </th>
    </tr>
  </tbody>
</table>