<table class="table table-striped table-responsive">
  <tbody>
    <tr>
      <th>Code</th>
      <td>PRO1805300001</td>
    </tr>
    <tr>
      <th>Nama Product</th>
      <td>Product 1</td>
    </tr>
    <tr>
      <th>Jenis Produk</th>
      <td>Jenis Produk 1</td>
    </tr>
    <tr>
      <th>Qty</th>
      <td>100</td>
    </tr>
  </tbody>
</table>

<table class="table table-responsive">
  <tbody>
    <tr>
      <th>
        <p class="small">Created On: 30/05/2018 11:30</p>
      </th>
    </tr>
  </tbody>
</table>