<div class="row">
  <div class="col-lg-12">
    <rd-widget>
      <rd-widget-header icon="fa fa-list-ol" title="Waiting List">
        <a ui-sref="waiting.new" class="btn primary">
          <i class="fa fa-plus"></i> Tambah Waiting List</a>
      </rd-widget-header>
      <rd-widget-body classes="no-padding">
        <div class="table-responsive">
          <table ng-table="table" class="table" show-filter="true">
            <tbody ng-repeat="waiting in $data" class="text-center">
              <tr>
                <td title="'Code'" filter="{ 'code': 'text'}">{{waiting.code}}</td>
                <td title="'Customer'" filter="{ 'customerName': 'text'}" ng-class="{'text-danger': !waiting.customer}">{{waiting.customer ? waiting.customer.name : 'Tidak Terdaftar'}}</td>
                <td title="'Grand Total'">{{waiting.grandTotal | number}}</td>
                <td title="'Tanggal'">{{waiting.created | date:'dd/MM/yyyy HH:mm:ss a'}}</td>
                <td title="'Actions'">
                  <div class="btn-group">
                    <!-- <button class="btn btn-default btn-sm" ng-click="open(waiting.code, waiting)">
                      <i class="fa fa-eye"></i>
                    </button> -->
                    <a ui-sref="waiting.edit({id: waiting._id})" class="btn btn-info btn-sm">
                      <i class="fa fa-pencil"></i>
                    </a>
                    <!-- <button class="btn btn-danger btn-sm" ng-click="onDelete(waiting._id, waiting)">
                        <i class="fa fa-trash"></i>
                      </button> -->
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>